
name: my first workflow
on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Code
        uses: actions/checkout@v6.0.2
      
      - name: Run Composite Action
        uses: ./.github/actions/dotnet-build
      
      - name: Publish artifact
        run: dotnet publish 

      - name: List all files
        run: ls /home/runner/work/Demoappaz204/Demoappaz204/Demoappaz204/bin/Release/net8.0/publish/
        
      - name: 'Login via Az CLI'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CRED }}

      - name: Deploy to Azure web app
        uses: Azure/webapps-deploy@v3.0.5
        with:
          app-name: techmwebappforday2
          package: /home/runner/work/Demoappaz204/Demoappaz204/Demoappaz204/bin/Release/net8.0/publish/
        
